.App-headerWhite {
}
.Container {
  margin-top: 10.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .App-headerWhite {
    display: flex;
    justify-content: center;
  }
  .Container {
    flex-direction: row;
    align-items: flex-start;
  }
}
